.header{
    position: relative;
    min-height: 60px;
    background: #f6f6f6;
    border-bottom:0.5px solid #d6d6d6;
}
.bar{
    position: relative;
    padding: 5px 10px;
    width: 100%;
    background: #fdfdfd;
    border: 0.5px solid #efefef;
    border-radius: 3px;
}
.underline-none{
    text-decoration: none !important;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: none !important;
}

.btn-warning.focus, .btn-warning:focus {
    box-shadow: none !important;
}